.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.logo img {
  width: 260px;
  height: 75px;
}
.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .logo:hover .logo-icon {
  transform: rotate(-10deg) scale(1.1);
}

.logo-text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  color: var(--primary);
  line-height: 1;
}

.logo-text span {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-light);
  letter-spacing: 2px;
} */
