.card-ui {
  background: white;

  border-radius: 25px;

  padding: 30px;

  box-shadow: var(--shadow-sm);

  transition: var(--transition);
}

.card-ui:hover {
  transform: translateY(-10px);

  box-shadow: var(--shadow-lg);
}

.card-border {
  border: 1px solid var(--border);
}
