.fa-align-right {
  color: var(--primary-dark);
}
.pathsCards {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  height: 190px;

  /* margin: 4px; */
  border: 1px solid #eee;
  border-radius: 15px;
  background-color: #f8f8f8;
  padding: 20px 5px;
}
.swiper {
  width: 100%;
  height: 280px;
  --swiper-pagination-color: #8a4fd1;
  --swiper-pagination-bullet-inactive-color: #ccc;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}
.title-container {
  height: 45px;
}
.icon-circle {
  position: relative;
  width: 60px;
  height: 60px;
  top: -18px;
  right: 10px;
  margin-left: 15px;
}
.icon-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}
.title-container h6 {
  font-size: 18px;
  font-weight: 600px;
}
.path-desc,
.path-link {
  text-align: right;
  font-size: 14px;

  color: #000;
  margin-right: 15px;
  padding: 2px 10px;
}
.path-link {
  font-weight: 500;
}
.fa-arrow-left {
  position: relative;
  top: 1px;
}
.web {
  background-color: #e9d8ff;
  border: 1px solid #8a4fd1d4;
}
.web .path-link {
  color: #8a4fd1;
}
.ai {
  background-color: #fffbb4;
  border: 1px solid rgb(255, 183, 0);
}
.ai .path-link {
  color: rgb(255, 183, 0);
}
.graphic {
  background-color: #fff4d8;
  border: 1px solid orangered;
}
.graphic .path-link {
  color: orangered;
}
.mobile {
  background-color: #d8ffd8;
  border: 1px solid rgb(0, 176, 73);
}
.mobile .path-link {
  color: rgb(0, 176, 73);
}
.games {
  background-color: #fdd8ff;
  border: 1px solid rgb(176, 0, 147);
}
.games .path-link {
  color: rgb(176, 0, 147);
}
.robot {
  background-color: #d8ebff;
  border: 1px solid rgb(0, 29, 176);
}
.robot .path-link {
  color: rgb(0, 29, 176);
}
.allPaths .btn {
  color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  padding: 8px 25px;
  font-weight: 700;
  border-radius: 10px;
}
.allPaths .btn:hover {
  background-color: var(--primary-dark);
  color: #fff;
  transition: var(--transition);
}

@media (max-width: 767px) {
  /* .swiper-slide {
    width: 70% !important;
    margin: 8px;
  } */
  .title-container h6 {
    font-size: 18px;
    font-weight: bolder;
  }
  .path-link {
    font-weight: 500;
  }
}
