<div #loader class="loader">
  <div class="loader-content shadow">
    <!-- Logo -->

    <div class="loader-logo">
      <div class="logo-container"><app-logo></app-logo></div>
    </div>

    <!-- Name -->

    <div class="loader-name">
      <span class="loader-letter">K</span>
      <span class="loader-letter">I</span>
      <span class="loader-letter">D</span>
      <span class="loader-letter">S</span>

      <span class="loader-space"></span>

      <span class="loader-letter">C</span>
      <span class="loader-letter">O</span>
      <span class="loader-letter">D</span>
      <span class="loader-letter">E</span>
    </div>

    <p class="loader-subtitle">ACADEMY</p>

    <!-- Progress -->

    <div class="loader-progress">
      <div class="loader-progress-bar"></div>
    </div>

    <p class="loader-text">Let's Start Coding 🚀</p>
  </div>
</div>
